In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [2]:
calendar_month = np.array([7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6])
penman_kcp = np.array([0.10, 0.30, 0.40, 0.60, 0.73, 0.88, 0.95, 0.95, 0.95, 0.70, 0.40, 0.20])
row_4 =      np.array([0.61, 0.73, 0.88, 0.95, 0.95, 0.95, 0.95, 0.90, 0.80, 0.40, 0.30, 0.10])

In [6]:
accepted_kcp_norm = pd.DataFrame(index=calendar_month, data=penman_kcp, columns=["penman_kcp"])
accepted_kcp_norm.index.name = "calendar_month"
accepted_kcp_norm.head()

                penman_kcp
calendar_month
7                     0.10
8                     0.30
9                     0.40
10                    0.60
11                    0.73