In [11]:
import numpy as np
import datetime
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

# Firstly, let us work with the daily data (GDD, and Waterbalance Data):

In [12]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
p370_df = pd.read_csv("P-370_daily_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p370_df.head()

,heat_units,rain,erain,total_irrig,tot_eff_irrig,etc,ety,et0,etcp,rzone,available,days_left,deficit_current,rzm,rzm_source,fcap,profile,deficit_want,refill,et0_forecast_yr,cc0,original_unit_system
date,,,,,,,,,,,,,,,,,,,,,,
2017-08-01,0.0,0.0,0.0,0.0,0.0,0.82,0.68,6.8,0.0,500,48.83,30.0,4.57,128.93,software,133.5,0.0,40,80.1,1.15,0.12,si
2017-08-02,0.0,1.0,0.0,0.0,0.0,0.82,0.68,6.8,0.0,500,48.01,30.0,5.39,128.11,software,133.5,0.0,40,80.1,1.24,0.12,si
2017-08-03,0.0,0.2,0.0,0.0,0.0,0.82,0.68,6.8,0.0,500,47.19,30.0,6.21,127.29,software,133.5,0.0,40,80.1,1.23,0.12,si
2017-08-04,0.0,0.0,0.0,0.0,0.0,0.82,0.68,6.8,0.0,500,46.37,30.0,7.03,126.47,software,133.5,0.0,40,80.1,1.92,0.12,si
2017-08-05,0.0,0.0,0.0,0.0,0.0,0.82,0.68,6.8,0.0,500,45.55,30.0,7.85,125.65,software,133.5,0.0,40,80.1,1.74,0.12,si

In [13]:
p370_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 596 entries, 2017-08-01 to 2019-03-19
Data columns (total 22 columns):
 heat_units              596 non-null float64
 rain                    596 non-null float64
 erain                   596 non-null float64
 total_irrig             596 non-null float64
 tot_eff_irrig           596 non-null float64
 etc                     596 non-null float64
 ety                     596 non-null float64
 et0                     596 non-null float64
 etcp                    596 non-null float64
 rzone                   596 non-null int64
 available               596 non-null float64
 days_left               596 non-null float64
 deficit_current         596 non-null float64
 rzm                     596 non-null float64
 rzm_source              596 non-null object
 fcap                    596 non-null float64
 profile                 596 non-null float64
 deficit_want            596 non-null int64
 refill                  596 non-null float64
 et0_forecast_yr         596 non-null float64
 cc0                     596 non-null float64
 original_unit_system    596 non-null object
dtypes: float64(18), int64(2), object(2)
memory usage: 107.1+ KB

In [14]:
p371_df = pd.read_csv("P-371_daily_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p372_df = pd.read_csv("P-372_daily_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p384_df = pd.read_csv("P-371_daily_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p391_df = pd.read_csv("P-391_daily_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p392_df = pd.read_csv("P-392_daily_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p891_df = pd.read_csv("P-891_daily_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)

In [15]:
with pd.ExcelWriter('Golden_Delicious_daily_data.xlsx', date_format="yyyy-mm-dd", datetime_format="yyyy-mm-dd",
                    engine="xlsxwriter") as writer:
    p370_df.to_excel(writer, header=True, index=True, sheet_name="P-370", index_label="date", verbose=True)
    p371_df.to_excel(writer, header=True, index=True, sheet_name="P-371", index_label="date", verbose=True)
    p372_df.to_excel(writer, header=True, index=True, sheet_name="P-372", index_label="date", verbose=True)
    p384_df.to_excel(writer, header=True, index=True, sheet_name="P-384", index_label="date", verbose=True)
    p391_df.to_excel(writer, header=True, index=True, sheet_name="P-391", index_label="date", verbose=True)
    p392_df.to_excel(writer, header=True, index=True, sheet_name="P-392", index_label="date", verbose=True)
    p891_df.to_excel(writer, header=True, index=True, sheet_name="P-891", index_label="date", verbose=True)

# Secondly, let us work with the Probe Measurements (AZM, Soil Moisture, and Soil Temperature):

In [6]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
p370_probe_df = pd.read_csv("P-370_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p370_probe_df.head()

,azm [Ave RZ],m0 [S1 (100 mm)],m1 [S2 (200 mm)],m2 [S3 (305 mm)],m3 [S4 (400 mm)],m4 [S5 (600 mm)],m5 [S6 (800 mm)],t0 [T1 (100 mm)],t1 [T2 (200 mm)],t2 [T3 (305 mm)],t3 [T4 (400 mm)],t4 [T5 (600 mm)],t5 [T6 (800 mm)]
datatime,,,,,,,,,,,,,
2017-08-17 09:00:00,104.68,108.62,100.68,105,104.43,88.95,83.6,5.5,6.67,7,7.17,7.83,7.67
2017-08-17 09:30:00,104.66,108.62,100.63,105,104.38,88.87,83.44,5.5,6.67,7,7.17,7.83,7.67
2017-08-17 10:00:00,104.62,108.56,100.59,105,104.33,88.79,83.44,5.5,6.67,7,7.17,7.83,7.67
2017-08-17 10:30:00,104.6,108.56,100.54,104.97,104.33,88.79,83.44,5.5,6.67,7,7.17,7.67,7.67
2017-08-17 11:00:00,104.56,108.5,100.5,104.97,104.28,88.63,83.36,5.5,6.33,6.83,7.17,7.67,7.67

In [7]:
p370_probe_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15597 entries, 2017-08-17 09:00:00 to 2018-08-01 00:00:00
Data columns (total 13 columns):
 azm [Ave RZ]        15597 non-null object
 m0 [S1 (100 mm)]    15597 non-null object
 m1 [S2 (200 mm)]    15597 non-null object
 m2 [S3 (305 mm)]    15597 non-null object
 m3 [S4 (400 mm)]    15597 non-null object
 m4 [S5 (600 mm)]    15597 non-null object
 m5 [S6 (800 mm)]    15597 non-null object
 t0 [T1 (100 mm)]    15597 non-null object
 t1 [T2 (200 mm)]    15597 non-null object
 t2 [T3 (305 mm)]    15597 non-null object
 t3 [T4 (400 mm)]    15597 non-null object
 t4 [T5 (600 mm)]    15597 non-null object
 t5 [T6 (800 mm)]    15597 non-null object
dtypes: object(13)
memory usage: 1.7+ MB

In [8]:
p371_probe_df = pd.read_csv("P-371_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p372_probe_df = pd.read_csv("P-371_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p384_probe_df = pd.read_csv("P-371_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p391_probe_df = pd.read_csv("P-371_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p392_probe_df = pd.read_csv("P-371_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p891_probe_df = pd.read_csv("P-371_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)
p1426_probe_df = pd.read_csv("P-1426_probe_data.csv", sep=",", header=0, parse_dates=True,
                      index_col=0, na_values="None", date_parser=dateparse)

In [9]:
print(p371_probe_df.equals(p372_probe_df))
print(p371_probe_df.equals(p384_probe_df))
print(p371_probe_df.equals(p391_probe_df))
print(p371_probe_df.equals(p392_probe_df))
print(p371_probe_df.equals(p891_probe_df))

True
True
True
True
True

In [10]:
with pd.ExcelWriter('Golden_Delicious_probe_data.xlsx', date_format="yyyy-mm-dd", datetime_format="yyyy-mm-dd HH:MM:SS",
                    engine="xlsxwriter") as writer:
    p370_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-370", index_label="datetime", verbose=True)
    p371_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-371", index_label="datetime", verbose=True)
    p372_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-372", index_label="datetime", verbose=True)
    p384_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-384", index_label="datetime", verbose=True)
    p391_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-391", index_label="datetime", verbose=True)
    p392_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-392", index_label="datetime", verbose=True)
    p891_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-891", index_label="datetime", verbose=True)
    p1426_probe_df.to_excel(writer, header=True, index=True, sheet_name="P-1426", index_label="datetime", verbose=True)